@use "../abstract" as *;

.upgrades-container {
  background-color: $seccondary;
  box-shadow: inset -10px 10px 10px -10px #000;

  .upgrades {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;

    .upgrade-item-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.info-container {
  padding: 5px 10px;
  color: $base-text;
  background-color: $seccondary;
  box-shadow: inset 10px 10px 10px -10px #000;
}

.boxes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background;
}
