.upgrades-container {
  // max-height: 200px;
  background-color: $header;

  .upgrades {
    display: flex;
    align-items: center;
    justify-content: center;
    // max-height: 150px;
    padding: 10px;

    .upgrade-item-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
