.game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: calc(100vh - 30px);

  main {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .boxes-container {
      flex: 1;
    }
  }

  aside {
    grid-column: 4;
  }

  @media (max-width: 750px) {
    grid-template-columns: repeat(5, 1fr);

    aside {
      grid-column: 4 / 6;
    }
  }
}
